<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>406308601903-jkgqrmaidrsspmq70nbc7hdj8e3813ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406308601903-jkgqrmaidrsspmq70nbc7hdj8e3813ca</string>
	<key>API_KEY</key>
	<string>AIzaSyBM7iZQ7TVWXKKWYJ0fK6UTWKsfISlGs88</string>
	<key>GCM_SENDER_ID</key>
	<string>406308601903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adambirdsall.true-flavor</string>
	<key>PROJECT_ID</key>
	<string>true-flavor-kitchen</string>
	<key>STORAGE_BUCKET</key>
	<string>true-flavor-kitchen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406308601903:ios:2ce8639f6447b08a</string>
	<key>DATABASE_URL</key>
	<string>https://true-flavor-kitchen.firebaseio.com</string>
</dict>
</plist>